<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGRO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lighte box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <h1>EVE</h1>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link usuarioDeOrganismo" asp-area="" asp-controller="Home" asp-action="Privacy">'Usuario' <b>de</b> 'Organismo'</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link usuarioDeOrganismo">
                                <img src="./imgs/person.svg" style="height: 28.500003814697266px;width: 22.16666603088379px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>  
    </header> 

    <div class="breadcrumb">
        <ul class="breadcrumbUl">
            <li>
                <a>Eve</a>
            </li>
        </ul>
    </div>

    <div class="container">
         
        <div class="row d-flex flex-row justify-content-center border border-warning rounded flex-shrink-0">
            <h6>[Notificacion]Usted tiene acciones pendientes en las declaraciones realizadas en los sistemas Agro y Personas.</h6>
        </div>
         
        <main role="main" class="pb-3 row d-flex flex-row justify-content-center">
            @RenderBody()
                <div class="card m-3" style="width: 18rem;">
                    <img src="https://via.placeholder.com/400.png/09f/fff" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">AGRO</h5>
                        <p class="card-text">Sistema de carga de declaración sobre seguros en el sector agropecuario y forestal.</p>
                      </div>
                </div>
            <div class="card m-3" style="width: 18rem;">
                    <img src="https://via.placeholder.com/400.png/09f/fff" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PERSONAS</h5>
                        <p class="card-text">Sistema de carga de declaración sobre el personal de las entidades aseguradoras y resaseguradoras locales.</p>
                    </div>
                </div>
        </main>
    </div>
   
    <footer class="border-top footer">
        <div class="container-fluid"> 
            <div class="d-flex justify-content-between">
                    <div>
                    &copy; 2022 - Desarrollado por Subgerencia de Seguros de la Nacion
                    </div>
                    <div class="imgSsn">
                        <img src="./imgs/icon-ssn.png"/>
                    </div>
                </div>
            </div> 
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 
 